#fileInput {
    display: none;
}

@keyframes loading-bar {
  0%   { transform: translateX(-100%); }
  50%  { transform: translateX(50%); }
  100% { transform: translateX(200%); }
}
.animate-loading-bar {
  animation: loading-bar 1.1s ease-in-out infinite;
}

.collapsed {
  max-height: 40px;
  overflow: hidden;
  .caret { transform: rotate(0deg); }
}

.caret {
  transform: rotate(180deg);
}